main {
    text-align: center;
    padding: 13%;
    font-family: "Amatic SC", cursive;
    font-size: 160%;
    font-display: uppercase;
}


a{
    color: #FFE4CD;
}

.brunao {
    display: inline-block;
}

.fernando {
    display: inline-block;
}

.thiago {
    display: inline-block;
}

a:hover { 
    background-color: #8F47B3;
}

/* The animation code 
@keyframes example {
    from {background-color:#CA3435;}
    to {background-color: #8E3179;}
    to {background-color: #7070CC;}
    /*to {background-color: #A55353;}
}*/

@keyframes example {
    0%   {background-color:#CA3435;}
    25%  {background-color:#8E3179; }
    50%  {background-color:#7070CC; }
    75%  {background-color:#8E3179;}
    100% {background-color:#CA3435; }
}

/* The element to apply the animation to */
body {
    background-color:#CA3435;
    animation-name: example;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}